
label.cabinet{
    display: block;
    cursor: pointer;
}

label.cabinet input.file{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top:-30px;
}

#upload-demo{
    width: 465px;
    height: 465px;
    padding-bottom:25px;
}
#learn-upload-demo{
    width: 600px;
    height: 450px;
    padding-bottom:25px;
}
figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}
.profile-box-logo {
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 120px;
    margin: 0;
}
.profile-box-logo img {
    padding: 0;
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 100%;
}
.profile-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.profile-box-logo:hover .overlay {
    bottom: 0;
}
.profile-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
.business-box-logo {
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 164px;
    margin: 0;
}
.business-box-logo img {
    padding: 0;
    display: block;
    height: 200px;
    width: 164px;
}
.business-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.business-box-logo:hover .overlay {
    bottom: 0;
}
.business-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
.learn-box-logo {
    position: relative;
    overflow: hidden;
    height: 411px;
    width: 540px;
    margin: 0;
}
.learn-box-logo img {
    padding: 0;
    display: block;
    height: 411px;
    width: 540px;
}
.learn-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.learn-box-logo:hover .overlay {
    bottom: 0;
}
.learn-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
.product-box-logo {
    position: relative;
    overflow: hidden;
    height: 324px;
    width: 296px;
    margin: 0;
}
.product-box-logo img {
    padding: 0;
    display: block;
    height: 324px;
    width: 296px;
}
.product-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.product-box-logo:hover .overlay {
    bottom: 0;
}
.product-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
.category-box-logo {
    position: relative;
    overflow: hidden;
    height: 160px;
    width: 160px;
    margin: 0;
}
.category-box-logo img {
    padding: 0;
    display: block;
    height: 160px;
    width: 160px;
    border-radius: 100%;
}
.category-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.category-box-logo:hover .overlay {
    bottom: 0;
}
.category-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
.amenities-box-logo {
    position: relative;
    overflow: hidden;
    height: 56px;
    width: 56px;
    margin: 0;
}
.amenities-box-logo img {
    padding: 0;
    display: block;
    height: 56px;
    width: 56px;
    border-radius: 100%;
}
.amenities-box-logo .overlay {
    position: absolute;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    transition: bottom 0.5s 0s;
}
.amenities-box-logo:hover .overlay {
    bottom: 0;
}
.amenities-box-logo .overlay span {
    display: inline-block;
    margin-left: 10px;
}
#cropWrapper {
    z-index: 9999;
}
.cropInputs {
    z-index: 99999;
}
.form-group.logo-box .col-md-9 label {
    display: inline-block;
}
.form-group.logo-box .col-md-9 small {
    display: inline-block !important;
    vertical-align: top;
    line-height: 239px;
}
.modal-body label {
    display: block;
    margin: 0 0 30px 0;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #666;
    line-height: normal;
}
.modal-body label small {
    display: inline-block;
    width: 88%;
    text-align: left !important;
    padding-top: 0;
    line-height: 20px;
}
.modal-body label b {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}