.page-content-wrapper .page-content {
    padding: 0 0 0 20px;
}
hr{border-top: 1px solid #e5e5e5;}
.page-header.navbar .page-logo .logo-default {
    height: 100%;
    margin: 0px 0px 0 !important;
    max-width: 180px !important;
    max-height: 78px !important;
}
.tablet-list::before {
    content: '';
    padding-left: 32px;
    height: 21px;
    line-height: 21px;
    background: url(../img/tablet-list.png) 9% top no-repeat;
}
.vaccination-list::before {
	content: '';
    padding-left: 32px;
    height: 21px;
    line-height: 21px;
    background: url(../img/vaccination-list.png) 9% top no-repeat;    
}
.page-sidebar-menu li:hover .tablet-list::before {
	background: url(../img/tablet-list.png) 9% bottom no-repeat;  	
}
.page-sidebar-menu li:hover .vaccination-list::before {	 
    background: url(../img/vaccination-list.png) 9% bottom  no-repeat;    
}
.select{
    margin-top: 20px;
    margin-left: 860px;
}
.see-password:hover{
    cursor: pointer;
}
#overlayDocument{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    text-align:center
}
#overlayDocument img{
    position: absolute;
    top:50%;
}
.btn-xs {
    margin-top: 5px !important; 
}

/* custom inclusion of right, left and below tabs */
.padding-none { padding: 0px; }
.paddingl-none { padding-left: 0px;}
.language { float: right; }
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a{
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: right;
  margin-right: 0px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

@media (min-width: 768px) and (max-width: 991px){
  .language { float: left; }
}
@media (max-width: 767px) {
  .language { float: left; }
}

