/* Base */
html,body{
  height: 100%;
  height: 100%;
}

body {
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Poppins' !important; }
 
::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

select:focus{
  outline: none !important;
}
input,button:focus{
  outline: none;
  box-shadow: none !important;
}
button{
  opacity: 1 !important;
}
 ul{
  margin-bottom: 0 !important;
 }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }


/*.site-wrap{
  width: 100%;
  height: 100%;
  display: grid;
}*/
.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

body:after {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.offcanvas-menu {
  position: relative; }
  .offcanvas-menu:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2); }

.btn {
  font-size: 16px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    background: #373a6d;
    border-color: #373a6d;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #000;
      border-color: #000;
      color: #fff; }
    .btn.btn-primary.btn-black--hover:hover {
      background: #666666;
      color: #fff; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  height: 43px;
  border-radius: 5px;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .form-control:active, .form-control:focus {
    border-color: #373a6d; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.contact-form .form-control {
  border-color: transparent; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }

.site-footer {
  padding: 20px 0;
  background: #b28527; }
  @media (min-width: 768px) {
    .site-footer {
       } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: rgba(255, 255, 255, 0.5); }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #fff; 
      border-right: 1px solid;padding: 0 30px 0 0;}

      .site-footer ul li:last-child a{
        border-right:none;
      }
    .site-footer a:hover {
      color: white; }
  
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }


.footer-list li{
  display: inline-block;
  margin: 0 10px;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check, .ul-paw {
  margin-bottom: 50px; }
  .ul-check li, .ul-paw li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before, .ul-paw li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before, .ul-paw.white li:before {
    color: #fff; }
  .ul-check.success li:before, .ul-paw.success li:before {
    color: #71bc42; }
  .ul-check.primary li:before, .ul-paw.primary li:before {
    color: #373a6d; }

.ul-paw li:before {
  content: "\f1b0"; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

/* Navbar */
/*.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.7); }*/
  /*.site-navbar .site-logo {
    position: relative;
    left: 0;
    top: -5px; }*/
    .site-navbar .site-logo a {
      color: #fff; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: #373a6d;
      display: inline-block;
      padding: 5px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 20px 10px;
        color: red !important;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: white !important; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #000;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000; }
        /*.site-navbar .site-navigation .site-menu .has-children .dropdown .active {
          color: #373a6d !important; }*/
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 210px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #eff1f3;
              color: #000; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
     /* .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #373a6d; }*/
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #373a6d; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      /*.site-mobile-menu .site-nav-wrap li .active {
        color: #373a6d; }*/
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #fff; }
  .sticky-wrapper .site-navbar .site-logo a {
    color: #fff;margin-left: 20px;}
  .sticky-wrapper .site-navbar .site-menu > li > a {
    color: #fff !important; font-weight: 500;font-weight: 500;font-size: 14px;}
    /*.sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
      color: #fff !important; }*/
  
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
      color: #fff; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #fff; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
      color: #fff !important;
      padding: 20px 10px; }
      /*.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
        color: #373a6d !important; }*/
  .sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

/* Blocks */
.site-blocks-cover img{
    width: 100%;
}
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.1); }
  .site-blocks-cover.overflow-hidden {
    overflow: hidden; }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(80vh);
    min-height: 400px; }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh); }
  @media (max-width: 991.98px) {
    .site-blocks-cover .intro-text {
      margin-top: 30%; } }
  .site-blocks-cover h1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 900; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; } }
  @media (max-width: 991.98px) {
    .site-blocks-cover .cover-img {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  .site-blocks-cover p {
    color: #fff;
    font-size: 1.3rem; }
    .site-blocks-cover p a {
      color: #fd7e14; }
  .site-blocks-cover .btn {
    font-size: 1.1rem;
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.5); }
    .site-blocks-cover .btn:hover, .site-blocks-cover .btn:active, .site-blocks-cover .btn:focus {
      border-color: #fff;
      background-color: transparent !important; }

.h6 {
  text-transform: uppercase;
  font-size: .9rem;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.circle-bg {
  position: relative; }
  .circle-bg:after {
    width: 300px;
    height: 300px;
    content: "";
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    bottom: -90px;
    right: -90px;
    background: #f8f9fa; }
    @media (max-width: 991.98px) {
      .circle-bg:after {
        bottom: 0px;
        right: -90px; } }

.bg-light {
  background: #ccc; }

.site-blocks-vs .bg-image {
  padding-top: 3em;
  padding-bottom: 3em; }
  @media (min-width: 992px) {
    .site-blocks-vs .bg-image {
      padding-top: 5em;
      padding-bottom: 5em; } }

.site-blocks-vs .image {
  width: 80px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px; }
  @media (max-width: 991.98px) {
    .site-blocks-vs .image {
      margin-left: auto !important;
      margin-right: auto !important; } }
  .site-blocks-vs .image img {
    border-radius: 50%; }
  .site-blocks-vs .image.image-small {
    width: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; }

.site-blocks-vs .country {
  color: rgba(255, 255, 255, 0.7); }

.owl-style.home-slider .owl-nav, .slide-one-item.home-slider .owl-nav {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  width: 100%; }
  @media (max-width: 991.98px) {
    .owl-style.home-slider .owl-nav, .slide-one-item.home-slider .owl-nav {
      display: none; } }

.owl-style.home-slider .owl-prev, .slide-one-item.home-slider .owl-prev {
  left: 10px !important; }

.owl-style.home-slider .owl-next, .slide-one-item.home-slider .owl-next {
  right: 10px !important; }

.owl-style.home-slider .owl-prev, .owl-style.home-slider .owl-next, .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
  color: #fff;
  position: absolute !important;
  top: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  line-height: 0;
  text-align: center;
  font-size: 25px; }
  @media (min-width: 768px) {
    .owl-style.home-slider .owl-prev, .owl-style.home-slider .owl-next, .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
      font-size: 25px; } }
  .owl-style.home-slider .owl-prev > span, .owl-style.home-slider .owl-next > span, .slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .owl-style.home-slider .owl-prev:hover, .owl-style.home-slider .owl-prev:focus, .owl-style.home-slider .owl-next:hover, .owl-style.home-slider .owl-next:focus, .slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-next:focus {
    background: black; }

.owl-style.home-slider:hover .owl-nav, .owl-style.home-slider:focus .owl-nav, .owl-style.home-slider:active .owl-nav, .slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
  opacity: 10;
  visibility: visible; }

.owl-style .owl-dots, .slide-one-item .owl-dots {
  text-align: center; position: absolute; bottom: 0; left: 50%;transform: translate(-50%, -50%);}
  .owl-style .owl-dots .owl-dot, .slide-one-item .owl-dots .owl-dot {
    display: inline-block;
    margin: 4px; }
    .owl-style .owl-dots .owl-dot span, .slide-one-item .owl-dots .owl-dot span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #dfaf37; }
    .owl-style .owl-dots .owl-dot.active span, .slide-one-item .owl-dots .owl-dot.active span {
      background: #5c1a75; }

.bg-primary .owl-style .owl-dots {
  text-align: center; }
  .bg-primary .owl-style .owl-dots .owl-dot {
    display: inline-block;
    margin: 4px; }
    .bg-primary .owl-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3); }
   /* .bg-primary .owl-style .owl-dots .owl-dot.active span {
      background: #fff; }*/

.owl-style {
  position: relative; }
  .owl-style .owl-nav {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden; }
    .owl-style .owl-nav .owl-prev, .owl-style .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.4); }
      .owl-style .owl-nav .owl-prev > span, .owl-style .owl-nav .owl-next > span {
        color: #fff;
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .owl-style .owl-nav .owl-prev {
      left: -50px; }
      @media (max-width: 991.98px) {
        .owl-style .owl-nav .owl-prev {
          left: 10px; } }
    .owl-style .owl-nav .owl-next {
      right: -50px; }
      @media (max-width: 991.98px) {
        .owl-style .owl-nav .owl-next {
          right: 10px; } }
  .owl-style:hover .owl-nav, .owl-style:focus .owl-nav {
    opacity: 1;
    visibility: visible; }

#date-countdown .countdown-block {
  color: #b3b3b3; }

#date-countdown .label {
  font-size: 40px;
  color: #000; }



/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

/* responsive media queries */
/* Mouse scroll effect */
@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 20px;
    opacity: 0; } }

/* Blog */
/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* New For Dogger */

/*homepahe*/
.form-row i{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
}
#ser2{
  display: none;
}
/*end*/

/*slider*/

/*feature*/

.feature-list h3{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  transform: translate(-50%, -50%);
  margin: 0;
}
.feature-list:hover{
  background-color: #dfaf37;
  opacity: 1;
}
.site-feature{
  padding: 70px 0 0;
}
.feature-list img{
  width: 100%;
  opacity: 0.5;
}
.feature-list{
  background-color: #000;
  border-radius: 10px;
}
/*end*/

/*online-list*/
.online-list img{
  width: 100%;
  border-radius: 50%;
}
.online-list h3{
  text-align: center;
  margin: 7px 0 0 0;
  font-size: 15px;
  font-weight: 600;
}
.site-online{
  padding: 50px 0;
}
/*end*/

/*profile*/
.profile-box{
  box-shadow: 0 10px 20px 0 rgba(0, 51, 204,0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}
.site-profile{
  padding: 0 0 50px 0;
}
.box1 img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.box2 p{
  margin: 0 20px;
  align-self: center;
  font-weight: 600;
  font-size: 15px;
}
/*.box2 img{
  border-radius: 50px;
}*/
.box2 h4{
  margin: 0 10px;
  font-size: 15px;
  
}
.pro-border{
  border-right: 1px solid #ccc;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.pro-folow button{
  width: 50%;
  background: #5a1774;
  border:none;
  color: #fff;
  font-size: 14px;
  border-radius: 0 0 0 10px;
  padding: 7px 0;
}
.pro-folow button:focus{
  background: #5a1774;
}
.site-custom .pro-folow button:focus{
  background-color: #5a1774 !important;
}
.site-custom .pro-folow button:last-child:focus{
  background-color: #dfaf37 !important;
}
.pro-folow button:last-child{
  background: #dfaf37;
  border-radius: 0 0 10px 0;
}
.pro-border:last-child{
  border-right: none;
}
.pro-border img{
  width: 15px;
}
.ex-logo{
  font-size: 2rem;
  font-weight: 500;
  margin-left: 10px;
}

/*end*/

/*my*/

.search-box2{
  display: none;
}

.owl-next,.owl-prev{display: none !important;}

.form-control {
    height: 43px;
    border-radius: 45px;
    background: #966ca6;
    border: none;
}
.search-box i {
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translate(-50%, -50%);
    color: #000;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #5a1774;
}
.search-box{
  position: relative;
}
.search-box2{
  position: relative;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active1 {
    color: #fff !important;
}

.site-navbar .site-navigation .site-menu > li > a.active1{
  color: #fff !important;
}
/*.site-login .site-navbar{
  background-color: red;
}*/
/*end*/


/*login*/
.form-control1{
  background: #ebebeb !important;
  width: 100% !important;
  border: none !important;
  display: block !important;
  height: calc(1.5em + 0.75rem + 2px) !important;
  padding: 1.5rem 0.75rem !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  border-radius: 5px !important;
  margin: 10px 0 !important;
  border: 1px solid #ebebeb !important;
  box-sizing: border-box !important;
}


.form-control1:focus{
  outline: none;
  border:1px solid #b78b2e !important;
  background: #fff !important;
}
.login-form span{
  color: #581473;
}
.site-login .login-form{
  background-color: #fff;
}
.login-form .container{
  max-width: 1140px;
}
.site-forgot .login-form{
  background-color: #fff;
}
.for-h{
  font-size: 14px;
  margin: 0;
}
.site-forgot .control{
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  left: 15px;
  top: 10px;
}
.site-forgot .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.site-forgot .control input:checked ~ .control__indicator{
   background: #b5892c;
}
.site-forgot .control input:checked ~ .control__indicator:after {
    display: block;
}
.site-forgot .control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}
.site-forgot .control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 5px;
    height: 9px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
.site-forgot .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
    border-radius: 5px;
}
.login-form p{
  color: #000;
  font-weight: 600;
  text-align: center;

}
.login-form img{
  width: 100%;
}
.login-form button{
  width: 100%;
  background-image: url(../images/fl-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  opacity: 1;
}
.login-form a{
  color: #000;
  font-weight: 500;
  margin: 5px 0;
}
.user-log a{
  font-weight: 600;
}
.site-login .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(0vh) !important;
    min-height: 0;
}
.site-login .site-blocks-cover{

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    background-image: url(../images/nav-back.png) !important;
}
/*end*/

/*register*/
.site-reg .login-form{
  background-image: url(../images/overlay.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}
.reg-form{
  background: #fff;
  border-radius: 5px;
}

      


.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
   color: #000;
   font-weight: 500;
   font-size: 14px;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  background-color: #ccc;
}


.sec-reg h2{
  color: #fff;
  margin-left: 20px;
  font-weight: 600;
}

/*end*/

/*shop*/
.site-shop .cus-nav{
  margin: 0;
}
.site-shop .container{
  max-width: 1140px;
}
.site-shop .shop-box img{
  width: 100%;
  box-shadow: none;
}
.site-shop .cus-nav{
  margin: 0 !important;
}
.site-shop .shop-box{
  position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 8px 1px #dedede;
    padding: 20px 0 10px;
    transition: 0.5s;
}
.site-shop .shop-box:hover{
  background: #e3d3b1;
  transition: 0.5s;
}
.site-shop .shop-price{
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
.site-shop .shop-price h2{
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #000;
}
.site-shop .shop-price img{
  width: 20px;
  height: 20px;
}
.site-shop .shop-box:after{
  content: '';
    position: absolute;
    background: #b28527;
    width: 60px;
    height: 60px;
    top: -27px;
    left: -38px;
    transform: rotate(41deg);
}
.site-shop .shop-box span{
  position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 11px;
    transform: rotate(-47deg);
    top: 4px;
    left: 0px;
}
.site-shop .shop-box p{
  font-size: 14px;
  font-weight: 500;
  color:#000;
  text-align: center;
    margin-top: 20px;
}
.site-shop .shop-box:hover p{
    color: #5c4c2f;
}
.site-shop .shop-box:hover h2{
    color: #5c4c2f;
}
/*end*/

/*detail_page*/
.detail-page img{
  width: 100%;
  box-shadow: 0px 0px 8px 1px #dedede;
  
}
.detail-page{
  padding: 0 0 50px;
  background-color: #fff;
}
/*end*/

/*custom-detail*/

.site-custom .form-control1{
  background: #fff !important;
  border:1px solid #fff; 
}
.site-custom .form-control1:focus{
  border: 1px solid #b78b2e !important;
}
.site-custom .cust-text textarea{
  padding: 10px;
}
.site-custom textarea.form-control1 {
    height: 150px !important;
    font-weight: 500;
}
.site-custom .form-control:focus{
  box-shadow: none;
  border:1px solid #5a1774;
}
.site-custom .site-blocks-cover img{
    width: 100%;
}

.site-custom .cus-pro img{
  position: relative;
  width: 75px;
  height: 76px;
  border-radius: 50px;
  border: 2px solid #fff ;
}
.site-custom .cus-pro{
  background: transparent;
  position: relative;
  border: 2px solid #b28527;
  border-radius: 50px;
  top: -40px;
}
.site-custom .cus-cnt h2{
  margin: 0;
  font-size: 22px;
    font-weight: 600;
}
.site-custom .cus-cnt a{
  margin: 0;
    color: #000;
    font-weight: 500;
}
.site-custom .cus-cnt a:hover{
  color: blue;
  text-decoration: underline;
}
.site-custom .pro-folow button{
  border-radius: 0px;
  margin: 0 10px;
}
.site-custom .pro-folow button:last-child{
  border-radius: 0px;
  color: #000;
}
.site-custom .icon-main h4{
  font-size: 16px;
  margin: 0 10px;
}
.site-custom .cus-nav{
  background: #b28527;
  margin: 20px 0; 
  padding: 10px 0;
}
.site-custom .cus-nav ul li{
  display: inline;
}
.site-custom .cus-nav ul li a{
  color: #fff;
  font-size: 14px;
    margin: 0 50px 0 0px;
}
.site-custom .cus-nav img{
  position: relative;
    top: -4px;
}
.site-custom .cus-nav img:first-child{
  position: relative;
    top: -2px;
}
.site-custom .cus-feed2 ul li a{
  margin-right: 10px;
}
.site-custom .req-form h2{
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 0;
}
.site-custom .req-form img{
  width: 100%;
}
.site-custom .req-form h3{
  font-weight: 500;
  font-size: 16px;
}
.site-custom .req-form h4{
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}
.site-custom .req-form button{
  width: 100%;
  background-image: url(../images/fl-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: 600;
  padding: 10px 0;
  border-radius: 5px;
  margin-bottom: 30px;
  border:none;
}
.site-custom .site-blocks-cover, .site-blocks-cover > .container > .row{
  height: calc(46vh);
  min-height: 223px !important;
}
/*end*/

/*become-model*/
.site-become{
  position: relative;
  /*z-index: 0;*/

}
.site-become .container{
  max-width: 1140px;
}
.site-become input:focus{
  box-shadow: none !important;
  border:1px solid #bc9036 !important;
}
}
.site-become nav{
  background: none;
}
.site-become nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  height: 0;
}
.site-become .model-faq{
  background: #f3f3f3;
  padding: 20px 0;
  margin: 30px 0;
}
.site-become .model-cnt h2{
  font-size: 20px;
    font-weight: 600;
}
.site-become .model-cnt a{
  font-weight: 600;
    font-size: 16px;
    color: #000;
}
.site-become .model-cnt{
  z-index: 9;
    position: relative;
}
.site-become .model-cnt p{
  line-height: 1.3;
    font-weight: 500;
}

.site-become .model-video{
  margin: 30px 0;
}

.site-become .model-money{
  background: #2A0635;
  color: #fff;
  width: 100%;
  float: left;
}
.site-become .site-footer{
  width: 100%;
  float: left;
}
.site-become .md-img{
  background: #fff;
    text-align: center;
    padding: 20px 0;
}
/*.site-become .md-img img{
  width: 100%;
}*/
.site-become .model-cnt h3{
  font-size: 16px;
    text-align: center;
    margin: 10px 0;
}
.site-become .model-btn{
  background-image: url(../images/fl-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 10px 25px;
    margin: 20px 0;
}
.site-become .model-btn1{
  background: #67297e;
}

.site-become .model-girl2{
  background-image: url(../images/slider2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 20px 0;
}
.site-become .model-girl2:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.site-become .model-girl3{
  background-image: url(../images/model-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 50px 0;
}
.site-become #play{
  font-size: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.site-become .testimonial-img:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.site-become .testimonial-img1:before{
  background-color: #804e91;
  opacity: 0.7;
}
.site-become .testimonial-img1{
  cursor: initial !important;
}
.site-become .testimonial-img{
  position: relative;
  cursor: pointer;
}
.site-become .test-cnt{
  color: #fff;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}
.site-become .test-cnt2{
  color: #fff;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.site-become .chk-lft input[type=checkbox]:checked + label:before {
    background-color: #25327B;
    border-color: #25327B;
    color: #fff;
    text-align: center;
}
.site-become .chk-lft input[type=checkbox] {
    display: none;
}
.site-become .chk-lft input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
    font-size: 13px;
    color: #000;
    align-self: center;
    font-weight: 500;
    left: 7px;
}
.site-become .chk-lft input[type=checkbox] + label:before {
    content: "\2714";
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    box-shadow: 0px 0px 8px #00000036;
    background-color: #601f78;
}
.site-become .model-img{
  align-self: center;
}
.site-become .model-img2{
  text-align: right;
  align-self: center;
}


.site-become .form-control1:focus{
  outline: none;
  background-color: #fff;
  border: 1px solid #b78b2e;
}
.site-become .login-form span{
  color: #581473;
}
.site-become .login-form p{
  color: #000;
  font-weight: 600;
  text-align: center;

}
.site-become .login-form img{
  width: 100%;
}
.site-become .login-form button{
  width: 100%;
  background-image: url(../images/fl-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem;
  opacity: 1;
}
.site-become .login-form a{
  color: #000;
  font-weight: 500;
  margin: 5px 0;
}
.site-become .login-form a:hover{
  color: blue;
  text-decoration: underline;
}
.site-become .user-log a{
  font-weight: 600;
}
/*popup*/

.site-become .modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.site-become .modal-body {
  position:relative;
  padding:0px;
}
.site-become .close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

/*end*/

/*faq*/
.site-faq .card {
    margin-bottom: 10px;
}
.site-faq .myaccordion {
  margin: 0 auto;
}


.site-faq .myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.site-faq .myaccordion .fa-stack {
  font-size: 12px;
}

.site-faq .myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #000;
  padding: 0;
}

.site-faq .myaccordion .btn-link:hover,
.site-faq .myaccordion .btn-link:focus {
  text-decoration: none;
}

.site-faq .myaccordion li + li {
  margin-top: 10px;
}
.site-faq .cus-nav{
  margin: 0;
}
.site-faq .show{
  display: block;
}
.site-faq .card-body p{
  font-size: 13px;
    line-height: 1.3;
}
.site-faq .card-body {
    padding: 10px 1.25rem 0;
}
.site-faq .faq h2{
  font-size: 16px;
    color: #000;
    font-weight: 600;
}
.site-faq .cus-feed2 select{
  background: #d9c293;
  border: none;
  padding: 7px 60px 7px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  align-self: center;
}
/*end*/

/*shop-detail*/
/*.site-shop-detail {
  display: contents !important;
}*/
.site-s-shop{
  background-color: #fff;
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link.active{
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link-r.active{
  box-shadow: none !important;
  border-left: 1px solid #000;
  transition: none;
  position: relative;
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link-r.active{
  border-radius: 0 !important;
}
/*.site-shop-detail .nav {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}*/
.site-shop-detail .nav-pills .nav-link-m.active, .nav-pills .show>.nav-link-m{
  background: none;
}
.site-shop-detail .shop-img-box ul li {
    list-style: none;
    margin: 0px 0 10px 0;
    display: table;
}
.shop-img-box .nav-tabs{
  display: inline-block;
}
.site-shop-detail .nav-item img{
  width: 20px;
}
/*.site-shop-detail .tab-content{
  border: 1px solid #ccc;
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}*/

/*.site-shop-detail .tab-content img{
  width: 180px;
}*/
.site-shop-detail .shop-right{
  flex: 4;
  margin-left: 20px;
}
.site-shop-detail .shop-main{
  flex: 2;
}
.site-shop-detail .site-shop{
  display: table;
  margin: auto;
}
.site-shop-detail .shop-right h2{
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}
.site-shop-detail .shop-right span{
  font-weight: 600;
}
.site-shop-detail .shop-color p{
  color: #ada9a9;
    font-weight: 500;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}
.site-shop-detail .shop-color ul li{
  background-color: #000;
  width: 15px;
  height: 15px;
  list-style: none;
  float: left;
  border: 2px solid #fff;
  margin: 5px;
  outline: 2px solid #000;
}
.site-shop-detail .shop-color ul li:nth-child(2){
  background-color: red;
  border: 2px solid #fff;
  outline: 2px solid red;
}
.site-shop-detail .shop-color ul li:nth-child(3){
  background-color: blue;
  border: 2px solid #fff;
  outline: 2px solid blue;
}
.site-shop-detail .shop-color ul{
  display: contents;
  cursor: pointer;
}
.site-shop-detail .shop-size{
  width: 100%;
  float: left;
  margin: 0;
  font-size: 14px;
  color: #ada9a9;
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: 500;
}
.site-shop-detail .select{
  background: #ebebeb;
  padding: 0 40px 0 5px !important;
  font-size: 12px;
  border: 1px solid;
  width: 100%;
  height: 40px;
}
.site-shop-detail .nav.nav-tabs .nav-item .nav-link:hover:not(.active){
  color: #000;
}
.site-shop-detail .shop-dt{
  margin: 50px 0;
}
.site-shop-detail .plus-min{
  margin: 20px 0;
}
.site-shop-detail .plus-min input {
  margin: 0;
  padding: 0;
  border: none;
}

.site-shop-detail .plus-min input:focus {
  border: none;
  outline: none;
}

/*.plus-min form {
  text-align: center;
  margin: 10%;
}*/
.site-shop-detail .plus-min .quantity input {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align:center;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: 1px;}

.site-shop-detail .plus-min .quantity input:last-child {
  border-right: 1px solid #ccc;
}

.site-shop-detail .plus-min input[type="button"] {
  cursor: pointer;
  margin-right: 0.5px;
}
.site-shop-detail .plus-min label{
  color: #ada9a9;
  font-weight: 500;
  font-size: 14px;
}
.site-shop-detail .cart-btn{
  background: #b28527;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 3px 10px;
  margin-left: 5px;
  opacity: 1;
}
.site-shop-detail .social ul li{
  list-style: none;
  display: inline-block;
  background: #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
}
.site-shop-detail .social ul{
  display: contents;
}
.site-shop-detail .social ul li:nth-child(1) i{
  color: #3b5999;
}
.site-shop-detail .social ul li:nth-child(2) i{
  color: #03a9f4;
}
.site-shop-detail .social ul li:nth-child(3) i{
  color: #9f1121;
}
.site-shop-detail .shop-pay ul li{
  list-style: none;
  display: inline-block;
  margin: 0 7px 0 0;
}
.site-shop-detail .shop-pay img{
  width: 25px;
  transition: 0.5s;
}
.site-shop-detail .shop-pay img:hover{
  transform: scale(1.05) translateZ(0);
  transition: 0.5s;
}
.site-shop-detail .shop-pay ul{
  display: contents;
}

.site-shop-detail .detail-page h3{
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
.site-shop-detail .shop-more{
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.site-shop-detail .tab-content1{
  border: none !important;
    width: 100%;
    margin-left: 10px;
    display: inline-block;
    padding: 10px !important;
}


/*end*/

/*your feed*/
.site-home{
  background-color: #fff;
}
.header-navbar .float-left{
  margin-left: 1rem;
}
.site-feed .header-navbar .navbar-container ul.nav li a.nav-link-search,
.site-feed .header-navbar .navbar-container ul.nav li a.nav-link-expand
{
    padding: 1.7rem 1rem 1.7rem 22px;
}
.header-navbar .navbar-container ul.nav li > a.nav-link{
  font-weight: 600;
}
.header-navbar .navbar-container ul.nav li > a.nav-link:hover{
  color: #f1ad1f;
}
.site-feed nav ul a:hover{
  color: #f1ad1f;
}
.header-navbar .navbar-container ul.nav li > a.active{
  color: #f1ad1f;
}
.site-feed .container{
  width: 100%;
}
.site-feed .main-menu-content h2{
  font-weight: 600;
  margin:10px 0 10px 20px; 
  font-size: 18px;
}
.site-feed .navigation li a img{
  width: 15px !important;
}
.site-feed .menu-title{
  color: #000;
  margin-left: 10px;
}
.site-feed .main-menu.menu-light .navigation > li > a
{
    padding: 2px 30px 2px 18px;
}
.site-feed .main-menu.menu-light .navigation > li:nth-child(1){
  border-bottom: 1px solid #000;
  padding: 0px 0 10px;
}
.site-feed .main-menu.menu-light .navigation > li:nth-child(8){
  padding: 10px 0 0;
}
.site-feed .main-menu.menu-light .navigation > li:nth-child(7){
  border-bottom: 1px solid #000;
  padding: 0px 0 10px;
}
.site-feed .main-menu.menu-light .navigation > li:nth-child(9){
  border-bottom: 1px solid #000;
  padding: 0 0 10px;
}
.site-feed .main-menu.menu-light .navigation > li:nth-child(10){
  padding: 10px 0 0;
}
.site-feed .border {
    border: 1px solid #ccc !important;
}
.site-feed .main-menu .main-menu-content {
    overflow: auto;
    height: 100%;
    background: #fff;
    margin-top: -10px;
}

.scroll-bar-wrap {
  width: 300px;
  position: relative;
  margin: 2em auto;
}
.scroll-box {
  width: 100%;
  height: 295px;
  overflow-y: scroll;
}
.scroll-box::-webkit-scrollbar {
  width: .4em; 
}
.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
  overflow:visible;
  border-radius: 4px;
}
/*.scroll-box::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2); 
}*/
.cover-bar {
  position: absolute;
  background: #fff;;
  height: 100%;  
  top: 0;
  right: 0;
  width: .4em;
  -webkit-transition: all .5s;
  opacity: 1;
}



.site-feed .main-menu .main-menu-content:hover h2{
  color: #000 !important;
}
.site-feed .main-menu.menu-light .navigation{
  margin-bottom: 80px !important;
}



.site-feed .side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}




.site-feed .sidenav-header {
background: url("../images/user-bg.jpg") no-repeat center center;
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
  .row {
    margin-bottom: 0;
  }
}
.site-feed .sidenav-footer {
margin-bottom: 0px;
padding: 0;
  .row {
    margin-bottom: 0;
    .social-icons {
      a {
        opacity: 0.5;
        padding: 0;
        text-align:center;
        &:hover {
          background-color:inherit;
          opacity: 1;
        }
      }
    }
  }
}



.site-feed #toggle div {
  width: 80%;
  height: 2px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  cursor: pointer;

}
.site-feed .nav-wrapper {
  display: none;
}
.site-feed #toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

.site-feed #toggle.on .two {
  opacity: 0;
}

.site-feed #toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
.site-feed .nav{
  background-color: transparent;
  align-items: center;
}
.site-feed nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  /*height: 0;*/
  line-height: 0;
}
.site-feed .side-nav.right-aligned{
    background-color: #ffffff !important;
}
.site-feed .close-btn{
  position: absolute;
  top: 0;
  z-index: 999999;
  font-size: 16px;
  color: #000;
  right: -22px;
  cursor: pointer;
}
.site-feed nav ul a:hover{
  background: none;
}
.site-feed .navbar-nav li a img{
  width: 22px;
}
.site-feed .player .vp-sidedock{
  position: relative;
}
.site-feed .pro-cnt{
  align-self: center;
  margin-left: 12px;
}
.site-feed .pro-cnt p{
  font-size: 12px;
}
.site-feed .pro-cnt h2{
  margin:5px 0;
  font-size: 14px;
  font-weight: 600;
}
.site-feed .site-folow{
  height: 30px;
  background-image: url(../images/fl-back.png);
  border:none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 14px;
}
.site-feed .feed-main{
  box-shadow: 0px 0px 8px 1px #dedede;
  background: #fff;
  padding: 0 0 1rem;
  overflow: hidden;
}

.site-feed .overlay:after{
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  opacity: 0.5;


}
.site-feed .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav{
  box-shadow: none !important;
}
.site-feed .g1{
  background: transparent;
  margin-top: -10px;
}
.site-feed .sug-h{
  font-size: 16px;
  font-weight: 600;
}
.site-feed .sug-cnt:after{
  content: '';
  position: absolute;
  border-right: 1px solid #3d3d3d;
  height: 20px;
  left: 28%;
  width: 2px;
  top: 3px;
}
.site-feed .sug-span{
  position: relative;
  top: 1px;
}
.site-feed .sug-cnt2:after{
  content: '';
  position: absolute;
  border-right: 1px solid #3d3d3d;
  height: 20px;
  top: 3px;
  left: 70%;
}
.site-feed .fol-p p{
  margin: 0 10px;
  color: #fff;
}

.site-feed .fol-p{
  background-image: url(../images/fl-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;

}
.site-feed .sug-cnt span{
  font-size: 13px;
  margin-left: 5px;
}
.my-sug{
  width: 50px;
  border-radius: 50%;
}
.sug-mnt{
  padding: 10px 0 0;
  transition: 0.5s;
}
.model-right img{
  width: 15px !important;
  margin-right: 6px;
}
.model-right span{
  color: #fff;
  font-weight: 600;
  font-size: 13px;
}
.model-right{
  background-color: rgb(0,0,0,.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 0 10px;
  border-radius: 0px 0px 0px 5px;
}
.sug-mnt:hover{
  background: #fff;
  box-shadow: 0px 0px 8px 1px #dedede;
  transition: 0.5s;
  border-radius: 5px;
}
.sug-mnt:hover .fol-p{
  border-radius: 0 0 5px 5px;
  transition: 0.5s;
}
/*popup*/
.site-feed .modal{
  position: fixed; */
    position: inherit !important;
    left: 0;
    right: 0;
    background-color: transparent !important;
    padding: 0;
    max-height: 100%;
    width: 100%;
    margin: auto;
}
.site-feed .z-depth-4, .modal{
  box-shadow: none !important;
}
.site-feed .modal .modal-content{
  padding: 0;
  position: absolute;
  top: 110px;
}
.site-feed .modal-header{
  display: table;
  text-align: center;
}
.site-feed .modal-header .close{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 10px;
}
/*.site-feed button:focus {
    outline: none;
    background-color: #fff;
}*/
.site-feed .close span{
  font-size: 30px;
}
.site-feed .modal-header h2{
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}
.site-feed .modal-header p{
  font-size: 12px;
  color: #000;
}
.site-feed .flw2{
  width: 100%;
  height: 40px;
  font-weight: 600;
 }
.site-feed .modal-sm {
    max-width: 420px;
}
/*end*/

.main-menu.menu-light .navigation > li.active > a .menu-title{
  color: #fff;
}

/*end*/

/*detail-page*/
.site-detail .nav.nav-tabs .nav-item .nav-link{
  /*border-bottom: none !important;*/
  font-size: 14px;
  font-weight: 600;
}
.site-detail .nav.nav-tabs .nav-item .nav-link:hover{
  border-bottom: 2px solid #000;
  transition: none;
}
.site-detail .my-model img{
  width: 70px;
}
.site-detail .pre-img3{
  width: 40% !important;
  border-radius: 0;
}
.site-detail .form-control5{
  border: 1px solid #b78b2e !important;
  background: #fff  !important;
  border-radius: 5px !important;
  font-size: 14px;
  padding-left: 10px;
  box-sizing: border-box !important;
  margin-bottom: 0 !important;
}
.site-detail .form-control5:focus{
  border: 1px solid #b78b2e !important;
  box-shadow: none !important;
}
.site-detail .my-model h3{
  font-size: 14px;
}
.site-detail .my-model a{
  color: blue;
}
.site-detail .modal .my-m-cnt{
  top: 0;
}
.site-detail .my-model h2{
  color: #ccc;
}
.site-detail .nav-tabs .nav-link{
  border:none;
}
.site-detail .nav-tabs{
  border-bottom: none;
}
.site-detail .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #fff; 
}
.site-shop .nav.nav-tabs .nav-item .nav-link:hover{
  border-bottom: none;
}
.site-detail input:focus{
  border:none !important;
}
.site-detail .nav-link{
  padding: 0.5rem 2rem 0.5rem 0;
}
.site-detail .nav-link3 img{
  width: 18px;
}
.site-detail .nav-tabs .nav-item{
  align-self: center;
}
.site-detail .my-nav li a{
  padding: 5px 10px;
  margin: 0 0px 0 10px;
}
.site-detail .pre-part1 img{
  width: 100%;
}
.site-detail .pre-part1{
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px #dedede;
  transition: 0.5s;
}
.site-detail .pre-part1:hover{
  transform: translateY(-10px) scale(1);
  box-shadow: 0 18px 35px rgba(0,0,0,.1), 0 8px 15px rgba(0,0,0,.07);
  transform: scale(1.05) translateZ(0);
  transition: 0.5s;
}
/*.site-detail .nav-tabs .nav-link3.active, .nav-tabs .nav-item.show .nav-link3{
  background-color: #79269a;
}*/
/*end*/

/*custom-video*/
.site-custom-video .sug-prs span{
  margin: 0;
  font-size: 14px;
}
.sug-prs p{
  margin-bottom: 0;
}
.site-custom-video .form-control3{
  border:1px solid #fff !important;
  background: #fff !important;
  border-radius: 5px !important;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 0 !important;
  box-sizing: border-box !important;

}
.side-nav.right-aligned{
  padding-bottom: 80px;
}
.site-custom-video .form-control3:focus{
  border:1px solid #b78b2e !important;
  box-shadow: none !important;
}
.site-custom-video .login-form button{
  padding: 10px;
}
.site-custom-video ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 0.5; /* Firefox */
}


/*end*/

/*token*/
.tok-top a{
  color: #000;
}
.token-cnt{
  background: #fff;
  border-radius: 10px;
  padding: 25px 15px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border:2px solid #fff;
  box-shadow: 0px 0px 8px 1px #dedede;
}
.token-cnt img{
  width: 30px;
}
.token-cnt p{
  margin: 0 0 0 10px;
  font-weight: 600;
  font-size: 14px;
}
.token-btn{
  background-image: url(../images/token-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  margin-right: 70px;
}
.token-btn2{
  background-image: url(../images/fl-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 45px;
  position: relative;
  left: 3px;

}
.token-main h2{
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.token-main p{
  text-align: center;
  font-size: 14px;
  margin-top: 10px 0;
}
.token-main a{
  color: #000 !important;
}
/*end*/

/*preimium Video*/
.site-premium .site-prem .container{
  max-width: 1140px !important;
}
.dropdown-menu-right{
  right: -5px !important;
}
.site-premium .navbar-nav img{
  width: 80%;
}
.site-premium .pre-img:after{
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.pre-img img{
  width: 100%;
}

.site-premium select {
  display: block;
  width: 20%;
  border-radius: 50px;
  font-size: 14px;
  padding: 0 10px;
  height: 35px;
  background: #d9c293 !important;
  border:none;
}

.site-premium .prem-main ul li a{
  color: #000;
  font-weight: 600;
}
.site-premium .prem-main input{
  background: #d9c293 !important;
  width: 20% !important;
  border-bottom: none !important;
  border-radius: 50px !important;
  height: 35px !important;
  padding: 0 20px !important;
  margin: 0 !important;
  border:1px solid #d9c293 !important;
}
.site-premium .prem-main input:focus{
  border-bottom: none !important;
  box-shadow: none !important;
  border:1px solid #d9c293 !important;
}
.site-premium .prem-srh1{
  position: absolute;
  cursor: pointer;
  right: 35px;
}

.site-premium .slider{
  height: 0 !important;
}
.site-premium .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #000;
}
.site-premium .nav.nav-tabs .nav-item .nav-link.active{
  border-radius: 0 !important;
  border-color: #000 !important;
}
.site-premium .nav.nav-tabs .nav-item .nav-link:hover{
  border-bottom: 2px solid #000;
}
.site-premium .nav.nav-tabs .nav-item .nav-link{
  border-bottom: 2px solid transparent;
  padding: 15px 3px;
}


.site-premium .tile
{
  width:80%;
  margin:60px auto;
}
.site-premium #tile-1 .tab-pane
{
  padding:15px;
  height:80px;
}
.site-premium #tile-1 .nav-tabs
{
  position:relative;
  border:none!important;
  background-color:#fff;
  border-radius:6px;
}
.site-premium #tile-1 .nav-tabs li
{
  margin:0px!important;
}
.site-premium #tile-1 .nav-tabs li a
{
  position:relative;
  margin-right:0px!important;
  padding: 20px 40px!important;
  font-size:16px;
  border:none!important;
  color:#333;
}
.site-premium #tile-1 .nav-tabs a:hover
{
  background-color:#fff!important;
  border:none;
}
.site-premium #tile-1 .slider
{
  display:inline-block;
  width:30px;
  height:4px;
  border-radius:3px;
  background-color:#39bcd3;
  position:absolute;
  z-index:1200;
  bottom:0;
  transition:all .4s linear;
  
}
.site-premium #tile-1 .nav-tabs .active
{
  background-color:transparent!important;
  border:none!important;
  color:#39bcd3!important;
}


.site-premium .token-btn2{
  border-radius: 50px;
  height: auto;
  font-size: 12px;
  padding: 7px 40px;
  font-weight: 600;

}
.site-premium .pre-cnt{
  font-size: 14px;
  margin: 10px 0;
  font-weight: 600;
  color: #fff;
}
.site-setting .pre-cnt{
  font-size: 14px;
  margin: 10px 0;
  font-weight: 600;
  color: #fff;
}
.site-premium .pre-box{
  background-image: url(../images/premium1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 0;
}
.site-premium .pre-box:after{
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.site-premium .pre-part{
  background: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px #dedede;
  transition: 0.5s;
}
.site-premium .pre-part:hover{
  transform: translateY(-10px) scale(1);
  box-shadow: 0 18px 35px rgba(0,0,0,.1), 0 8px 15px rgba(0,0,0,.07);
  transform: scale(1.05) translateZ(0);
  transition: 0.5s;
}

.row{
  margin-bottom: 0 !important;
}
.site-premium .container{
  width: 100%;
}
.navigation-main{
  margin-bottom: 50px !important;
}
@media only screen and (min-width: 601px){
.site-premium .container {
   width: 100%;
}
}
/*end*/


/*setting*/
.site-setting .profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #00000036;
    border-radius: 50px;
}
.site-setting .login-form img {
    height: 100px;
    width: 100px;
}

.site-setting .file-upload {
    display: none;
}
.site-setting .circle {
    display: table;
    margin: auto;
    position: relative;
}

.site-setting .upload-button {
  font-size: 13px;
  cursor: pointer;
    background: #969696;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    right: -20px;
    bottom: -13px;
    color: #fff;

}

.site-setting textarea {
    height: 5rem !important;
    padding: 8px 12px !important;
}
.site-setting textarea:focus{
  outline: none !important;
}
.site-setting .form-control3 {
    margin: 0;
    background: #fff !important;
    width: 100% !important;
    border: none !important;
    display: block !important;
    padding: 1.5rem 0.75rem;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    border-radius: 5px !important;
    border: 1px solid #ebebeb !important;
    box-sizing: border-box !important;
}
.site-setting .form-control3:focus{
  border: 1px solid #b78b2e !important;
}
.site-setting .control {
  font-size: 18px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  width: 178px;
}

.site-setting .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.site-setting .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #e6e6e6;
  border-radius: 5px;
}

.site-setting .control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.site-setting .control:hover input ~ .control__indicator,
.site-setting .control input:focus ~ .control__indicator {
  background: #ccc;

}

/* Checked state */
.site-setting .control input:checked ~ .control__indicator {
  background: #b5892c;
}

/* Hover state whilst checked */
.site-setting .control:hover input:not([disabled]):checked ~ .control__indicator,
.site-setting .control input:checked:focus ~ .control__indicator {
  background: #b5892c;
}

/* Disabled state */
.site-setting .control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.site-setting .control__indicator:after {
  position: absolute;
  display: none;
  content: '';

}

/* Show check mark */
.site-setting .control input:checked ~ .control__indicator:after {
  display: block;
}

/* Checkbox tick */
.site-setting .control--checkbox .control__indicator:after {
  top: 4px;
  left: 8px;
  width: 5px;
  height: 9px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.site-setting .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

/* Radio button inner circle */
.site-setting .control--radio .control__indicator:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.site-setting .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
/*end*/

/*snap-model*/
.site-snap .prem-main{
  padding: 10px;
}
.site-snap .modal-header h2{
  color: #000;
}
.site-snap .modal-header a:first-child{
  color: #fff;
  background-color: #151010;
  opacity: 0.5;
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  width: 45%;
}
.site-snap .modal-header a:last-child{
  width: 45%;
  border-radius: 5px;
}
.site-snap .modal .modal-content{
  top: 60px;
}
.site-snap .modal-header .add-snap p{
  font-size: 14px;
}
.site-snap .add-snap img{
  width: 15px;
  height: 15px;
}
.site-snap .add-snap{
  background: #fff200;
  align-items: center;
  padding: 5px 15px;
  border-radius: 3px;
}
.site-snap .add-snap p{
  margin: 0 0 0 7px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

/*end*/

/*explore*/
.site-explore .ex-dtl{
  width: 100%;
}
.site-explore .nav-link2 img{
  width: 20px;
  height: 20px;
}
.site-explore .nav-link2{
  padding: 15px !important;
}
.site-explore .nav-link2:hover{
  border-bottom: 2px solid #000;
  transition: none;
}
.site-explore .nav-tabs .nav-link2.active, .nav-tabs .nav-item.show .nav-link2{
  border-bottom: 2px solid #000;
  transition: none;
}

.site-explore .container {
  max-width: 1140px;
}
/*end*/

/*live*/
.site-live .prem-main h2{
  font-size: 14px;
  color: #fff;
  margin: 0 10px;
}
.site-live .prem-main{
  padding: 15px 20px;
}
.site-live .live-box{
  background: #fff;
  box-shadow: 0px 0px 8px 1px #dedede;
  padding: 0 0 1px;
}
.site-live .site-live{
  background: #fff !important;
}
.site-live .live-img img{
  width: 35px;
}
.site-live .live-img{
  padding: 5px 0;
}
.site-live .overlay img{
  width: 100%;
}
.site-live .live-btn{
  border:none;
  border-radius: 5px;
  background: #b28527;
  color: #fff;
  font-weight: 600;
  display: table;
  margin: 10px auto;
  padding: 3px 20px;
}
.site-live button:focus{
  background: #b28527;
}
.site-live .site-profile {
  padding: 0;
}

/*end*/


/*chat*/
.inbox_people {
  background: #fff;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%; 
  position: relative;

}
.srch_bar input{
  height: 30px !important; 
  border: none !important;
  background: #c5932c !important;
  border-radius: 50px !important;
  padding-left: 20px !important;
  margin: 0 !important;
  color: #fff !important;
  box-sizing: border-box !important;
}
.srch_bar input:focus{
  box-shadow: none !important;
}
.chat-srh{
  position: absolute;
  right: 10px;
  top: 7px;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;text-align: center;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 544px; overflow: auto;}

.active_chat{ background:#fff;cursor: pointer;}
.active_chat:hover{
  background-color: #ebebeb;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 20px 0 20px;
  width: 60%;
}

 .sent_msg p {
  background: #79269a  none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 90% !important;
  border-bottom: none !important;
  margin: 0 !important;
}
.input_msg_write input:focus{
  box-shadow: none !important;
}
.input_msg_write button{
  background-color: #79269a !important;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}

.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.site-live .login-form span {
    color: #000;
}
.site-live .login-form button{
  background: none;
  width: inherit;
  padding: 3px 12px;
}
/*end*/


/*premium-snap*/
.site-prm-snap .snap-main h2{
  font-size: 16px;
  font-weight: 600; 
}
.site-prm-snap .table{
  box-shadow: 0 0 10px #ccc;
}
.site-prm-snap .table .thead-dark th{
  background: none;
  border-color: transparent;
  font-weight: 500;
}
.site-prm-snap thead{
  background-image: url(../images/fl-back.png);
  border:none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.site-prm-snap td, th{
  border-radius: 0 !important;
}

/*end*/

/*notification*/
.alert {
    border: 0;
    padding: 10px 0px !important;
    line-height: 20px;
    font-weight: 300;
    border-radius: 5px;
}
.r-cntrol{
    width: inherit !important;
    padding-left: 20px !important;
}
.r-cnt-ind{
  width: 15px !important;
  height: 15px !important;
}
.r-cnt-ind:after{
  top: 3px !important;
  left: 5.5px !important;
  width: 4.5px !important;
  height: 8px !important;
}
.alert b {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}


.alert.alert-info {
    background-color: #fff;
}

.site-notification .site-noti h2{
  font-size: 16px;
  font-weight: 600;
  display: flex !important;
  flex-direction: row;
}
.site-notification .site-noti h2:after{
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-left: 20px;
}
.site-notification .site-noti h2:before{
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-right: 20px;
}
.site-noti .btn-danger{
  background-color: #d9534f;
}
.site-noti .btn-danger:hover{
  background-color: #c9302c;
}
.site-noti .btn-danger:focus{
  background-color: #c9302c;
}
.site-noti .btn-primary{
  background: #00aaff;
}
.site-noti .btn-primary:hover{
  background-color: #1ab3ff !important;
}
.site-noti .btn-primary:focus{
  background-color: #1ab3ff !important;
}
/*end*/

/*follow*/
.site-notification .site-noti h2{
  font-size: 16px;
  font-weight: 600;
  display: table;
  margin: auto;
  position: relative;
}
.site-follow h2:after{
  content: '';
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-left: 20px;
}
.site-follow h2:before{
  content: '';
  content: '';
  flex: 1 1;
  border-bottom: 1px solid #ccc;
  margin: auto;
  margin-right: 20px;
} 
/*end*/

/*private-video*/
.site-pr-video h2{
  font-size: 18px;
  font-weight: 600;
}
.site-pr-video select{
  width: 50%;
  float: right;
}
.prv-brw{
  background-color: #cda44e;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.1), 0 5px 5px rgba(0,0,0,.07);
  padding: 10px 0;
}
.prv-brw p{
  font-size: 14px;
  color: #fff;
  margin: 0;
  align-self: center;
}
.prv-brw a{
  align-self: center;
  background: #79269a ;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 3px;
}
/*end*/

/*favorite*/
.site-favourite h2{
  font-size: 18px;
  margin: 0;
  align-self: center;
  color: #fff;
  font-weight: 600;
}
.site-favourite{
  background-color: #cda44e;
}
.site-favourite img{
  width: 20px;
}

.fav-main ul li{
  margin: 10px;
}
.fav-main .nav-tabs .nav-item{
  margin-bottom: 10px;
}
.site-favourite .nav-tabs .nav-link2.active, .nav-tabs .nav-item.show .nav-link2 {
    border-bottom: 2px solid #000;
    transition: none;
}
.site-favourite .nav-tabs .nav-link2{
  padding: 10px;
}
.site-favourite .nav-tabs .nav-link2:hover{
  border-bottom: 2px solid #000;
  transition: none;
}
/*end*/

@media screen and (max-width: 2000px) and (min-width: 200px) {
  .det-top{
    margin-top: 30px;
  }
}

@media(max-width: 1200px){
  /*.sticky-wrapper.is-sticky .site-navbar{
    padding: 30px 0;
  }*/
  .site-feed .feed-nav{
    display: none;
  }
  .prv-brw{
    margin: 0 15px;
  }
  .nav-wrapper {
    display: block !important;
  }
}

@media (max-width: 991.98px) {
  
  .my-col{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(max-width: 768px){
  .fea-top{
    margin-bottom: 30px;
  }
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(40vh);
    min-height: 200px !important;
  }
  .site-feed #toggle{
    left: 15px;
  }
  .site-favourite .nav{
    margin-top: 0 !important;
  }
  .site-favourite .nav4{
    margin: 0;
  }
  .navbar-header{
    width: 330px;
  }
  .site-become .model-img{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .site-become .model-img2{
    text-align: center;
    margin-top: 30px;
  }
  .menu-toggle2{
    display: none !important;
  }
  .prem-main2{
    display: block !important;
  }
  .pre-srh{
    display: none;
  }
  .site-feed .nav{
    justify-content: center;
    margin-top: 20px;
  }
  .prem-main2 select{
    width: 50%;
    position: relative;
    top: 10px;
  }
 
  
}



@media only screen and (min-width: 993px){
.container {
    width: 100% !important;
}
}
.tok-top {
    margin-top: 20px;
}

/*end*/


/*responsive*/
.site-become .form-control1{
  background: #ebebeb;
  width: 100%;
  border:none;
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
  border-radius: 5px;
  margin: 10px 0;
  border:1px solid #ebebeb;
  box-sizing: border-box !important;
}
.search-box input{
  width: 150% !important;
  background-color: #966ca6 !important;
  border-bottom: none !important; 
  border-radius: 50px;
  height: inherit !important;
  margin: 0 !important;
  padding: 7px 18px !important;
  box-sizing: border-box !important;
  border:1px solid #966ca6 !important;
}
.search-box2 input{
  width: 100% !important;
  background-color: #966ca6 !important;
  border-bottom: none !important;
  border:1px solid #966ca6 !important; 
  border-radius: 50px;
  height: inherit !important;
  margin: 0 !important;
  padding: 7px 18px !important;
  box-sizing: border-box !important;
}
.search-box input:focus{
  background-color: #fff !important;
}
.search-box2 input:focus{
  background-color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    background-image: url(../images/nav-back.png) !important;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
}
.sticky-wrapper.is-sticky .site-navbar  #toggle div{
      background: black !important;
}

.site-become .site-navbar .site-navigation .site-menu > li > a{
  padding: 40px 15px; 
}
.site-become .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
    padding: 20px 15px;
}
.site-become nav ul a.active2{
  color: #5a1774  !important;
}
.sec-reg ul li{
  color: #fff;
  margin: 10px 0 10px 40px;
  list-style: disc !important;
}
.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 3px;
  left: 3px;
  content: " ";
  display: block;
  background: #b28527;
}
.radio-item {
  display: inline-block;
  position: relative;
  margin: 10px 0 0;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
  padding-left: 24px;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
  border-color: transparent !important;
}
[type="radio"]+label:before, [type="radio"]+label:after{
  transition: none !important;
}
[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after{
  border:none !important;
}
.search-box2 i {
    position: absolute;
    top: 49%;
    right: 40px;
    transform: translate(-50%, -50%);
    color: #000;
}
.site-custom .site-navbar{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
  background-image: url(../images/nav-back.png) !important;
}
.site-login .sticky-wrapper .site-navbar{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
  background-image: url(../images/nav-back.png);
}


.navbar-wrapper h1{
  position: absolute;
  top: -44px;
  left: 20px;
}
.navbar-wrapper .h2{
  font-size: 2rem;
  font-weight: 500;
}
.navbar-wrapper .h2:hover{
  color: #fff;
}
.h2{
  color: #fff;
  font-size: 2rem;
  font-weight: 500;

}
.site-feed .play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color: #fff;
  z-index: 3;
}
.site-feed .overlay img{
  width: 100%;
}
.site-feed nav{
  height: 0;
}
nav{
  background-color: transparent !important;
}
.site-feed #toggle {
  width: 28px;
  top: 16px;
}
.pro-fmain img{
  width: 20px;
}
.pro-fmain ul{
  display: contents;
}
.pro-fmain{
  background-color: #fff;
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  left: 0;
  padding: 12px 20px;
  display: none !important;
  box-shadow: 0px 0 7px #ccc;
}
.msg_send_btn {
  background: #79269a !important;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  /*height: 33px;*/
  position: absolute;
  right: 0;
  top: 8px;
  padding: 2px !important;
  width: 40px !important;

}

#sidenav-overlay{
  z-index: 0 !important;
}
.site-feed #sidenav-overlay{
  z-index: 9 !important;
}
.site-premium .zindex{
  position: relative;
  z-index: 3;
}
.side-nav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px !important;
    font-weight: 500;
    height: 35px !important;
    line-height: 35px !important;
    padding: 0 20px !important;
}


.my-feed-p .w-none{
  display: none;
}
.side-nav li.active a{
  background-color: #cda44e !important; 
  color: #fff !important;
  border-left: 2px solid #79269a;
}
.snap-main{
  width: 100%;
  overflow: auto;
}
.site-premium .prem-main{
  background: #b28527;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /*margin-top: -10px;*/
}
.site-explore .prem-main4 {
  padding: 10px 20px 10px;
}
.site-detail .prem-main{
  padding: 0 20px;
}
.pre-srh2{
  display: none;
}
.site-detail .nav.nav-tabs .nav-item .nav-link{
  padding: 17px 10px;
  margin-right: 20px;
}

.prem-mai5{
  padding: 20px 10px !important;
}
.prem-main3{
  padding: 10px 20px !important;
}
.site-custom .site-footer{
  margin-bottom: 0 !important;
}

.site-custom .nav{
  margin-top: 0px;
}
.cus-srh input{
  width: 150% !important;
  background-color: #966ca6 !important;
  border-bottom: none !important;
  border-radius: 50px !important;
  height: inherit !important;
  margin: 0 !important;
  padding: 7px 18px !important;
  box-sizing: border-box !important;
  border: 1px solid #966ca6 !important;
  color: #000;
}
.cus-srh{
  margin: auto;
  position: relative;
  left: -40px;
}

.cus-srh input:focus{
  background-color: #fff !important;
}
.det-srh{
  position: absolute;
  top: 12px;
  right: -90px;
  color: #000;
}
.cus-srh2 input{
  width: 100% !important;
}
.det-srh2{
  color: darkgreen;
  position: absolute;
  right: 10px;
  top: -8px;
  color: #000;
}
.site-become .side-nav li:nth-child(7) a{
 border-bottom:none;
 border-top:none;
}
.side-nav li:nth-child(7) a{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.side-nav li:nth-child(12) a{
  border-bottom: 1px solid #000;
}
.side-nav li:nth-child(14) a{
  border-bottom: 1px solid #000;
}
.site-custom .site-footer{
  margin-bottom: 0;
}
.site-premium .side-nav li:nth-child(7) a{
  border-top:none;
  border-bottom:none;
}
.site-feed .modal-header .close:focus{
  background-color: #fff;
}
.mybdr img{
  border-radius: 50%;
}
.home-srh input {
    float: right !important;
    border: 1px solid #ccc !important;
    padding: 8px 18px !important;
    margin: 14px 0 !important;
    border-radius: 50px !important;
    font-size: 13px !important;
    width: 30% !important;
    box-sizing: border-box !important;
    height: inherit !important;
}
.home-srh i{
  position: absolute;
  right: 30px;
  top: 26px;
  cursor: pointer;
}
.site-menu ul li{
  display: inline-block;
}
.site-menu ul li a{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.site-home .container{
   max-width: 1140px;
}
.site-detail .container{
   max-width: 1170px;
}
.site-detail .nav-link{
  padding: 0.5rem 2rem 0.5rem 0; 
}
.crus-img{
  width: 20px;
  height: 20px;
}
.site-detail .tab-content{
  display: none;
}

.site-my-detail .tab-content{
  display: block;
}


.site-shop-detail .nav-pills{
  display: inline-block;
}
.site-shop-detail .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color:#fff;

}
.site-shop-detail .nav.nav-pills .nav-item .nav-link{
  border: 1px solid #ccc;
  border-radius: 0;
}
.site-shop-detail .nav.nav-pills .nav-item .nav-link:hover{
  border:1px solid #b28527;
}
.site-shop-detail .tab-pane img{
  width: 170px;
}
.site-shop-detail .tab-content{
  border:1px solid #ccc;
  padding: 0 60px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.site-shop-detail .nav.nav-pills .nav-item .nav-link.active{
  border:1px solid #b28527;
}
.site-shop-detail .nav.nav-pills .nav-item .nav-link{
  padding: 10px 15px !important
}
.site-shop-detail .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background:none;
  color: #000;
}
.site-shop-detail .nav-tab-r{
  display: block;
  border-right: 1px solid #ccc;
  width: 250px;
  border-radius: 0;
}
.site-shop-detail .nav-tabs .nav-item{
  border-bottom: 1px solid #ccc;
}
.site-shop-detail .nav.nav-tabs .nav-item .nav-link{
  padding: 10px 0px 10px 20px;
  display: block;
}
.site-shop-detail .nav.nav-tabs .nav-item .nav-link i{
  font-size: 14px ;
}
.site-shop-detail .tab-content1 ul li{
  list-style: disc;
  margin-left: 20px;
}
.site-shop-detail .nav-tabs .nav-link{
  color: #ccc;
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link-r.active:after{
  content: '';
  position: absolute;
  height: 40.4px;
  top: 0.2px;
  right: -21px;
  border: 1px solid #fff;
}
.site-s-shop .nav.nav-tabs .nav-item:last-child .nav-link-r.active:after{
  top: 0;
}
.site-s-shop .nav.nav-tabs .nav-item:nth-child(2) .nav-link-r.active:after{
  top: 0;
}
.site-shop-detail input:focus{
  border: 1px solid #ccc !important;
  box-shadow: none !important;
}
.nav.nav-tabs .nav-item .nav-link:hover:not(.active){
  color: #fff;
}
.site-shop-detail .tab-content1 p{
  margin-top: 0;
  font-weight: 500;
}
.site-shop-detail .cus-feed2 input{
  background: #d9c293 !important;
  width: 140% !important;
  border-bottom: none !important;
  border-radius: 50px !important;
  height: 35px !important;
  padding: 0 20px !important;
  margin: 0 !important;
  box-sizing: border-box;
}
.site-shop-detail .cus-feed2 input:focus{
  border:none !important;
}
.site-shop-detail .cart-srh{
  position: absolute;
  right: -70px;
  top: 10px;
}
.site-shop-detail .cart-ul{
  align-self: center;
}
.site-shop-detail .shop-right h2{
  margin-top: 20px;
}
.site-shop-detail .nav{
  margin-top: 0 !important;
}
.site-shop-detail .side-nav li:nth-child(7) a{
  border-top: none;
  border-bottom: none;
}
#phchat{
  display: none;
}
/*.site-explore .site-footer{
  margin-top: 20px;
}*/
.navbar-semi-light .navbar-nav > li > a{
  font-weight: 600;
  font-size: 14px;
}
#det-cus2{
    display: none;
}
#pre-nb2{
  display: none;
}


@media (max-width: 1200px){
  #toggle{
    display: block !important;
  }

  html body .content .content-wrapper{
    padding: 20px 0;
  }
  .main-menu-content {
    display: none;
  }
  body.vertical-layout.vertical-menu.menu-expanded .content, body.vertical-layout.vertical-menu.menu-expanded .footer{
    margin-left: 0;
  }
  body.vertical-layout.vertical-menu.menu-expanded .content, body.vertical-layout.vertical-menu.menu-expanded .footer{
    margin-left: 0 !important;
  }
  .cus-srh{
    display: none;
  }
  .cus-srh2{
    display: block;
    position: relative;
    left: 0;
  }
  .my-right{
    float: right;
  }
  .search-box{
    display: none;
  }
  .search-box2{
    display: block;
    padding:0 30px;
  }
  /*.site-navbar{
    padding: 10px 0;
  }*/
  .site-login .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(0vh) !important;
    min-height: 0px;
  }


}
@media (max-width: 767px){
  .main-menu {
    display: none;
  }
  
  .site-detail .pre-srh{
    display: none !important;
  }
  .site-shop-detail .detail-page h3{
    margin-top: 0 !important;
  }
  #det-cus1{
    display: none;
  }
  #det-cus2{
    display: block;
  }
 

}
@media (max-width: 992px){
  .navbar-wrapper h1{
    top: -40px;
  }
  .site-pr-video select{
    float: left;
  }
}
@media (max-width: 768px){
.site-custom .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(10vh) !important;
}
#det-cus2 label{
  width: 100% !important;
}
#det-cus2 label:after{
  top: 16px;
}
.site-explore .prem-main4 {
  padding: 0px 20px 10px;
}
.site-explore .pre-cus-lb label{
  width: 40% !important;
}
.d-brw{
  display: contents !important;
}
.prv-brw a{
  display: table;
  margin: 10px auto 0;
}
.prv-brw{
  padding-bottom: 15px;
}
 .site-detail .my-tp1{
    margin-top: 25px;
  }
.site-setting .circle{
  margin-top: 20px;
}
.site-feed .main-menu .main-menu-content{
  margin-top: -25px;
}
.site-feed .main-menu.menu-light .navigation {
  margin-bottom: 130px !important;
}
/*.prem-main4{
  padding: 0 10px 25px !important;
}*/
.prem-main4 select{
  margin: auto;
}
.site-feed .nav4{
  margin: 35px 0;
}
.my-feed-p .w-none{
  display: block;
}
.prem-main3 select{
  top: 0;
}

.my-none{
  display: none;
}
.pro-fmain{
  display: flex !important;
  align-items: center;
}
.pro-fmain li{
  display: inline-block;
}
.app-content{
  padding: 0 0 50px !important;

}
.sec-reg{
    margin-top: 40px;
}
.sec-reg h2{
  text-align: left;
  font-size: 25px;

}
.site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(54vh);
    min-height: 250px;
}

.site-explore .site-footer{
  margin-bottom: 48px !important;
  margin-top: 20px;
}

.site-premium .prem-main2 input {
    position: absolute;
    top: 9px;
    right: 22px;
    width: 35% !important;
}
.pre-srh2{
  display: block;
}
.site-detail .prem-main4 input{
    margin: auto !important;
    position: inherit !important;
    width: 100% !important;
    box-sizing: border-box !important;
    right: 0;
}
.site-premium .prem-srh1{
  top: 20px;
}
.site-premium .prem-main3{
  padding: 0 10px 20px;
}
.site-shop-detail .shop-main{
  display: block !important;
}
.site-shop-detail .tab-content{
  padding: 0 40px;
}
 .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(12vh) !important;
    min-height: 160px;
  }
  .home-srh input{
    width: 100% !important;
    margin: 16px 0 !important;
  }
  .m-nv-2{
    margin-top: 20px !important;
  }
  .site-explore .nav-link2{
    padding: 15px 15px 10px !important;
  }
  .site-explore .cus-select label{
    width: 100%;
  }
  .site-explore .cus-select label:after{
    top: 16px !important;
  }
  .site-snap .prem-srh1 {
    top: 66px;
  }
  .site-snap .prem-main3{
    padding-bottom: 20px !important;
  }
  .site-snap .my-s-cud label:after{
    top: 6px !important;
  }
  .site-snap .prem-main2 input{
    position: inherit;
    width: 100% !important;
    right: 0;
  }


}
@media (max-width: 600px){
  .det-srh2{
    top: 22px;
  }
}
@media (max-width: 550px){
 .site-shop-detail .shop-more{
  display: block !important;
}
#pre-nb1{
  display: none;
}
#pre-nb2{
  display: block;
  margin-left: 10px;
}
.site-explore .pre-cus-lb label{
  width: 100% !important;
}
.token-main p{
  font-size: 12px;
  margin-top: 5px;
}
.token-btn{
  padding: 7px 40px;
  margin-right: 31px;
}
.token-btn2{
  padding: 7px 35px;
  left: 4px;
  margin-bottom: 15px;
}
.site-detail .nav.nav-tabs .nav-item .nav-link {
    padding: 0 5px 7px 5px;
    margin: 10px 15px 0 0;
}
.site-shop-detail .plus-min .quantity input{
  margin-left: 5px !important;
}
.site-shop-detail .my-d-s{
  display: flex;
  width: 100%;
  margin-top: 43px;
}
.site-shop-detail .shop-size{
  width: auto;
  margin-top: 0 !important;
  align-self: center;
  margin-right: 10px;
}
.cart-ul{
  width: 35%;
}
.site-shop-detail .tab-content1{
  margin-left: 0;
  padding:10px 0 !important;
}

.site-shop-detail .select{
  width: 50%;
}
.sec-reg h2{
  font-size: 18px;
  margin-left: 0;
}
.sec-reg ul li{
  margin-left: 0;
}
.sec-reg ul{
  margin-left: 14px;
}
.site-custom .site-blocks-cover, .site-blocks-cover > .container > .row{
  min-height: 120px !important;
}
.site-become .site-blocks-cover, .site-blocks-cover > .container > .row{
   min-height: 120px !important;
}
.site-shop-detail .cus-feed2 input{
  width: 100% !important;
}
.site-shop-detail .cart-srh{
  right: 15px;
}
.site-noti select{
  width: 100% !important;
}
.site-noti input:last-child{
  margin-left: 0 !important;
}
.site-shop-detail .shop-box img{
  width: inherit;

}
.site-shop-detail .shop-box{
  text-align: center;
}
.site-shop-detail .nav-tab-r{
  display: flex;
}
.site-shop-detail .nav-tab-r{
  border-right: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  justify-content: left;
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link-r.active:after{
  border:none;
}
.site-shop-detail .nav-tabs .nav-item{
  border-bottom: none;
}
.site-s-shop .nav.nav-tabs .nav-item .nav-link-r.active{
  border-bottom: 1px solid #000;
  border-left: none;
}


  .site-premium .prem-main3 input{
    top: 10px !important;
  }

  .site-detail .prem-main4 input{
    top: 10px !important;
  }
  .site-detail .prem-srh1{
    top: 20px !important;
  }
 
  .site-premium .prem-main3{
    padding: 10px 20px 20px !important;
  }
 /* .sticky-wrapper.is-sticky .site-navbar{
    padding: 10px;
  }*/
 
  .token-cnt{
    display: block !important;
    text-align: center;
    margin: 13px;
  }
  .site-premium select{
    width: 55%;
  }
  .prem-main2 select{
    width: 100%;
  }
  .site-premium .prem-main2 input{
    width: 100% !important;
    position: inherit;
    box-sizing: border-box;
    right: 0;
    top: 20px;
  }
  .site-premium .prem-srh1{
    top: 65px;
  }
  .site-premium .prem-main3{
    padding: 0 10px 30px;
  }
  .cus-cnt{
    margin-left: 0 !important;
  }
  .site-footer a {
    border-right: none;
    padding: 0;
  }
.inbox_people{
  width: 100%;
}
.mesgs{
  width: 100%;
  display: none;
}
.inbox_people{
  border-right:none;
}

#deskchat{
  display: none;
}
#phchat{
  display: block;
}

}

@media(min-width: 1200px){


.site-feed *::-webkit-scrollbar,
.site-feed *::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 13px;
  background-clip: padding-box;
 
}

.site-feed *::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.3);
}
}

@media screen and (max-width: 900px) and (min-width: 768px) {
  .mesgs{
    width: 50%;
  }
  .inbox_people{
    width: 50%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 768px){
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: calc(40vh);
    min-height: 340px;
}

}
/*end*/


.mmCardVid {
  width: 100%;
  display: block;
  height: auto;
  max-height: 250px;
  cursor: pointer;
}
.modal-header img{
  border-radius: 50%;
}

/*zoom effect*/
.demo-area{
  background:$color_invert_fg;
  border-radius:8px;
  padding:20px;}
  section{
    padding-top:0;
  }
}

.demo-trigger {
  display: inline-block;
  width: 30%;
  float: left;
}

.detail {
  position: relative;
  width: 65%;
  margin-left: 5%;
  float: left;}
  button{
    vertical-align:middle;
    opacity:.5;
    cursor:unset;
    background:$color_invert_chrome_tint;
    margin-left:1em;
  }
}


@media (max-width: 610px) {

  .detail, .demo-trigger {
    float: none;
  }

  .demo-trigger {
    display:block;
    width: 50%;
    max-width:200px;
    margin: 0 auto;
  }

  .detail {
    margin: 0;
    width: auto;
  }
  .responsive-hint {
    display: none;
  }
}
/*end*/

.dropdown-item:focus{
  color: #000 !important;
}
.site-token .active, .btn1:hover {
  border:2px solid #b68a2e;
  color: #70248d;
}
#category-tabs li a i{
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 12px;
  right: 95px;
}
#category-tabs li a{
  display: flex;

}


.dropdown-toggle:after{
  border-left: none;
  border-right: none;
}
.site-feed .navbar-nav.float-right {
    margin-right: 15px;
}
a.dropdown-toggle.nav-link.dropdown-user-link{
  padding:5px 0;
}


.cus-select select{
    margin: 0;
    background: #fff;
    color:#333;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  width: 100%;
  padding:0 55px 0 20px;
  height:36px;
  font-size:14px;
  cursor:pointer;

}

.cus-select select option{
    padding:8px 5px;
}


.cus-select label {position:relative;margin: 0;}
.cus-select label:after {
    content:'>';
    font:16px "Consolas", monospace;
    color:#333;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; 
    top:6px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}

